*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border-radius: 30px;
    background-color: #dadbdd;
    border: 0;
    font-weight: bold;
}
.Remote_Body{
    background-color: #efefef;
    /* width: 20%; */
    border-radius: 30px;
    .Main_btn{
        button{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            font-size: 20px;
        }
    }
    .Control_btn{
        button{
            border-radius: 4px;
            height: 25px;
        }
    }
    .extra_btn{
        button{
            border-radius: 4px;
            height: 25px; 
            font-weight: 400;
        }
    }
    .Remote_Screen{
        outline: 10px solid #d8d1c7;
        border-radius: 5px;
    }
    .Remote_Screen_Upper{
        border-bottom: 2px solid black;
        background-color: #a69d98;
    }
    .Remote_Screen_Lower{
        background-color:  #a69d98;
    }
    .Remote_Screen_Lower_Left{
        border-right: 2px solid black;
    }
    .Remote_Screen_Upper_Left{
        border-right: 2px solid black;
    }
    .Remote_Screen_Upper_On{
        background-color:  #90EE90;
    }
}